<div class="container">
<%= form_for(@group) do |f| %>
	<% if @group.errors.any? %>
		<% @group.errors.full_messages.each do |mes| %>
				<div class="alert alert-danger">
					<%= mes %>
				</div>
		<% end %>
	<% end %>

	<div class="row" >
			<h4><code style="color: purple; margin-left: 20px"><%= f.label :name, "Name (*)" %></code></h4>
			<div class="col-xs-4">
				<%= f.text_field :name , class: "form-control" %><br>
				
			</div>
	</div>

	<div class="row" >
			<div class="col-xs-4">
				<h4><code style="color: purple;"><%= f.label :tournament , "Tournament (*)"%></code></h4>
				<%= f.collection_select :tournament_id, Tournament.all, :id, :name , { prompt: "--- Select a tournament ---"}, {class: "form-control"}%>
				<br>
				<%= f.submit "Go", class: "btn btn-success" %>
			</div>

	</div>
<% end %>

</div>